/build
/run
/bin
.gradle
.mcreator
.vscode
*~

fabric/build
fabric/fabric-1.20.1/build
fabric/fabric-1.21/build
fabric/fabric-1.21.1/build
fabric/fabric-1.21.5/build
forge/build
forge/forge-1.20.1/build
forge/forge-1.21/build
forge/forge-1.21.1/build
forge/forge-1.21.5/build
neoforge/build
neoforge/neoforge-1.20.1/build
neoforge/neoforge-1.21/build
neoforge/neoforge-1.21.1/build
neoforge/neoforge-1.21.5/build
common/build